.lotteryPage {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 30%;
  height: 30%;
  z-index: 200;
  font-family: 'Open Sans', sans-serif;
  background: #282828;
  color: white;
  background: linear-gradient(-45deg, #ee7752, #b4977b, #e0d6c3, #9a4d36);
  background-size: 400% 400%;
  // overflow: hidden;
  animation: Gradient 30s ease infinite;
  @keyframes Gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  img {
    width: 5%;
    position: absolute;
    top: -3%;
    right: -2%;
    border-radius: 100%;
    border: 1px solid black;
    cursor: pointer;
  }
  .m-btn {
    position: absolute;
    width: 25%;
    height: 20%;
    line-height: 64px;
    text-align: center;
    cursor: pointer;
    font-size: 24px;
    transition: 0.2s all;
    box-sizing: border-box;
    color: #fff;
    margin-right: 160px;
    margin-bottom: 20px;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 80%;
  }
  .g-btn-start {
    color: #fff;
    border: 1px solid #fff;
    &:hover {
      text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
      box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
      &::after {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        transform: scale(1);
        outline: 1px solid;
        outline-color: rgba(255, 255, 255, 0.6);
        outline-offset: 10px;
        transition: 0.5s outline-offset cubic-bezier(0.2, 0.8, 0.25, 0.8),
          0.5s outline-color cubic-bezier(0.2, 0.8, 0.25, 0.8), 0.5s outline cubic-bezier(0.2, 0.8, 0.25, 0.8);
      }
    }
    &::after {
      position: absolute;
      content: '';
      top: -10px;
      left: -10px;
      right: -10px;
      bottom: -10px;
      transition: 0.5s outline-color, 0.5s outline, 0.5s transform;
      transition-timing-function: cubic-bezier(0.2, 0.8, 0.25, 0.8);
      transform: scale3d(1.1, 1.3, 0);
      outline: 0px solid;
      outline-color: rgba(255, 255, 255, 0.05);
      outline-offset: -10px;
    }
    &:active {
      mix-blend-mode: overlay;
    }
  }
  .s-move {
    top: 80%;
  }

  .g-name {
    // display: none;
    position: absolute;
    width: 70%;
    text-align: center;
    font-size: 42px;
    transition: 0.2s all;
    color: #fff;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: 0.1s all;
  }
}
